<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfbrownweb.fuelmemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VehiclesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewActivity"
            android:label="@string/overview_title"
            android:parentActivityName=".VehiclesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cfbrownweb.fuelmemo.VehiclesActivity" />
        </activity>
        <activity
            android:name=".AllRecordsActivity"
            android:label="@string/all_records_title"
            android:parentActivityName=".OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cfbrownweb.fuelmemo.OverviewActivity" />
        </activity>
        <activity
            android:name=".AddVehicleActivity"
            android:label="@string/title_activity_add_vehicle"
            android:parentActivityName=".VehiclesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cfbrownweb.fuelmemo.VehiclesActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
